body{
    background: #00ffaa;
    font-family: Tahoma, Arial, sans-serif;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(62, 97, 98, 0.745);
    margin: 1% 10%;
}
.nexthtml{
    margin: 0; 
}
.header img {
    display: block; 
    width: 317px;
    border-radius: 40px; 
}
.header{
    display: flex;
    justify-content: space-around; 
    flex-direction: row;
    margin: 0;
}
.header h4{
    margin: 0;
}
a {
    color:#ffffff;
}
.archive {
    width: 960px; 
    margin-left: auto;
    margin-right: auto;
}
    
.post-title a {
    color: #ffffff;
}
    
.article-author { 
    width: 50%; 
    float: left;
}
        
.article-created-date { 
    text-align: right;
}
    